{% load static %}
<div class="navbar">
    
    <a href="/" class="logo">
        <img class="logoImage" src="{% static 'images/logo.png' %}">
        <p>threadify</p>
    </a>

    <form class="searchForm" method="GET" action="{% url 'home' %}">
        <input class="searchBar" type="text" name="q" placeholder="Search threads..." />
    </form>

    <div class="navbarUserDiv">
        {% if request.user.is_authenticated %}
        <p>Hello, {{request.user}}!</p>
        <div class="user-dropdown">
            <img src="{% static 'images/userprofile.svg' %}" />
            <div class="user-dropdown-content">
                <div class="user-dropdown-option"> 
                    <img src="{% static 'images/profile.svg' %}">
                    <a href="{% url 'profile' user.id %}">My profile</a>
                </div>
                <hr> 
                <div class="user-dropdown-option">
                    <img src="{% static 'images/settings.svg' %}">
                    <a href="{% url 'settings' user.id %}">Settings</a>
                </div>
                <hr>
                <div class="user-dropdown-option">
                    <img src="{% static 'images/logout.svg' %}">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
        <a class="loginA" href="{% url 'login' %}"> Login </a>  
        
        {% endif %}
    </div>

</div>