{% load static %}
<div class="thread-board-content">
    {% for thread in threads %}
    <div>
        <div class="thread-upper">
            <a href="{% url 'profile' thread.author.id %}" class="user-icon">
                <img src="{% static 'images/user-mock2.svg' %}">
                <p>@{{thread.author}} </p>
            </a>
            <div class="thread-upper-right">
                {% if request.user == thread.author %}
                <a class="thread-icons" href={% url 'update-thread' thread.post_id %}>
                    <img src="{% static 'images/edit_icon2.svg' %}">
                </a>
                <a class="thread-icons" href={% url 'delete-post' thread.post_id %}>
                    <img src="{% static 'images/delete_icon.svg' %}">
                </a>
                {% endif %}
                <h6> {{thread.created|timesince}} ago </h6>
            </div>
        </div>
        
        <div class="thread-title-content">
            <a href="{% url 'thread' thread.post_id %}">{{thread.title}}</a>
            {% if thread.content|length <= 120 %}
            <h5> {{thread.content}} </h5>
            {% else %}
            <h5> {{thread.content|slice:":120"}} ... </h5>
            {% endif %}
        </div>

        <div class="thread-info">
            <div class="thread-stats">
                <h6>{{thread.participats.count}} users joined </h6>
                <h6>12 posts </h6>
            </div>
            <div class="thread-tags-div">
                {% if thread.tag.all %}
                {% for tag in thread.tag.all %}
                    <p>
                        {{tag}}
                    </p>
                {%endfor%}
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>