
{% extends 'main.html' %}

{% block content %}

<div class="home-container">

    <div class="browse-categories">
        <h3>Browse tags</h3>
        <div>
            <a href="{% url 'home'%}" class="tag-browse"> &gt All</a>
            <p> {{threads_count}}</p>
        </div>
        {% for tag, t_count in tags.items %}
        <div>
            <a href="{% url 'home'%}?tag={{tag}}" class="tag-browse"> &gt {{tag}}</a>
            <p>{{t_count}}</p>
        </div>
        {% endfor %}
    </div>

    <div>
        {% if threads_count == 0 %}
            <h5>No threads available</h5> 
        {% else %}
            <h5>{{threads_count}} threads on the board</h5>
        {% endif %}

        <a href="{%url 'create-thread'%}"> Create thread </a>
        <hr>
        {% include 'base/feed_component.html' %}
    </div>

    <div>
        <h3>Recent activity</h3>
        to do 
    </div>

</div>

<script> 
  
</script>
{% endblock %}